
@{
    ViewData["Title"] = "RegisterErrorPage";
}

<form>
    <div class="form-group">
        <h1 style="margin-left:25px; font-size: 2.2rem; ">Böyle bir kullanıcı bulunmaktadır kayıt bilgilerinizi kontrol ediniz !!!</h1>
    </div>
    <div class="form-group">
        <input type="submit" value="Kayıt Ol" class="btn btn-primary btn-lg btn-block" asp-controller="Register" asp-action="Index" style="background-color:#235586" />
    </div>
</form>

