
@{
    ViewData["Title"] = "AdminDashboard";
}

<form>
    <div class="form-group">
        <input type="submit" value="Kategoriler" class="btn btn-primary btn-lg btn-block" asp-controller="Admin" asp-action="CategoryIndex" style="background-color:#235586" />
    </div>
    <div class="form-group">
        <input type="submit" value="Ürünler" class="btn btn-primary btn-lg btn-block" asp-controller="Admin" asp-action="ProductIndex" style="background-color:#235586" />
    </div>
</form>


