<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - DepoOtomasyonu</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<style>
    .admina{
        color: rgba(0,0,0,.9);
    }
    .adminli{
        margin-top:5px;
        margin-left:650px;
    }
    body{
        background-color: #aad0f1
    }

    .navbar {
        background-color: #aad0f1
    }

    .container {
        background-color: #D9EAF9;
        border-radius: 16px;
        padding:13px;
    }

    /*.closeli{
        margin-top: 7px;
        margin-left: 800px;
    }*/
</style>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light mb-3">
            <div class="container">
                <a class="navbar-brand" style="margin-bottom:7px" asp-area="" asp-controller="Home" asp-action="Index">Depo Otomasyonu</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark fa fa-inbox" asp-area="" asp-controller="Customer" asp-action="ListOfOrders"> Siparişler</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark fa fa-shopping-basket" asp-area="" asp-controller="Customer" asp-action="ListOfCard"> Sepet</a>
                        </li>
                        <li class="adminli">
                            <a class="admina fa fa-user-o" asp-area="" asp-controller="Admin" asp-action="Index"> Admin</a>
                        </li>
                        <li class="closeli">
                            <a class="fa fa-sign-out" style="font-size:24px;color:#a75a5a;margin-top:7px;margin-left: 15px;" asp-controller="Home" asp-action="Exit"></a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    @*<footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2023 - DepoOtomasyonu - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>*@
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
